{%extends 'base.html'%}
{%block title%}Admissions-Al-Ferghani University{%endblock%}
{%block content%}
<!--tuition and fees-->
<!--apply-->
<!--documents required-->
<!--mission and vision-->
<!--why GU-->
<!--tuition deadlines/ application deadlines-->
<!--for students-->
<!--for staff-->
<!--registrar office-->
<!--scholarships and financial aid services-->

<h1 align="middle">Who are we looking for ?</h1>>
<p align="middle"> Al-Ferghani University has opened recently in May 2019 and now we are admitting our first students.
Be one of the firsts to study at Al-Ferghani University !</p>
<h1 id="#admreqs">General admission requirements</h1>
<p>Generally you need:
<ol>
    <li>
        Diploma of Academic Lyceum/Vocational College (if not available at the moment, upload scan copy of student's record book)
    </li>
    <br>
    <li>
        Transcript to diploma
    </li><br>
    <li>
        IELTS/TOEFL Certificates (if available)
    </li>
    <br>
    <li>
        Fill your online application
    </li>
    <br>
</ol>
</p>
<h1 id="#deadlines">Dates and Deadlines</h1>
<p> Application Deadline for Fall 2019 Intake: 15 August 2019<br>
</p>
{%endblock%}
