{%extends 'base.html'%}
{%block title%}Academics{%endblock%}
{%block content%}
<!--programs available-->
<!--     -->
<!--about_us-->
<!--majors-->
<h1>Tuition fee and costs</h1>
<p> At Globus univesity, we do not charge any fee for being a student or studying at Globus University,
because we want to ensure that education is available for everyone. <br>
However,conducting examinations involves costs, for this reason we have to charge our students if they want to take
examinations.<br>
<br>
<br>
</p>
<h2>At the moment we cannot precisely answer the exact cost of examination - we are working on it.</h2>
<h2>Nevertheless, we will provide full and partial scholarships for incoming high potential students.</h2>
{%endblock%}
