{%extends 'base.html'%}
{%block title%}Al-Ferghani University{%endblock%}
{%block content%}
<!--news-->
<!--learning is fun together-->
<!--got an idea ? write us !-->
<h1 class="welcome" >We are OPEN ! Al-Ferghani University !</h1>
<p class="firstone" > Hello ! Welcome to Al-Ferghani university !<br>
We welcome students from all across Uzbekistan !<br>
Your future starts here !</p>
<h2 class="welcome" >Check out what you need to study at Globus:<br>
<a class="firstone" href="/admission/" >Admission information</a></h2>
{% endblock %}
