{%extends 'base_pa.html'%}
{%block title%}Personal Account|Al-Ferghani University{%endblock%}
{%block info%}
<h1>Perspective Student Registration</h1>
<form class="ps-reg-form" action="/reg_check/" method="post">
    <label>First name</label><br>
    <input name="fname" type="text" required><br><br>
    <label>Last name</label><br>
    <input name="lname" type="text" required><br><br>
    <label>Date of birth</label><br>
    <input name="dob" type="date" required min="1970-01-01" max="2005-01-01"><br><br>
    <label>Email address</label><br>
    <input name="email" type="email" required><br><br>
    <label>Street Address</label><br>
    <input name="stradr" type="text" required><br><br>
    <label>City/Region</label><br>
    <input placeholder="City/Region you are from" name="city" type="text" required><br><br>
    <label>Phone number</label><br>
    <input name="phone1" type="tel" pattern="+[9]{2}[8]{1}-[0-9]{2}-[0-9]{3}-[0-9]{4}" size="12" required><br><br><br>
    <label>Emergency phone number</label><br>
    <input name="phone2" type="tel" pattern="+[9]{2}[8]{1}-[0-9]{2}-[0-9]{3}-[0-9]{4}" size="12" required><br><br><br>
    <input type="radio" name="stryear" value="2019" checked style="display:none">
    <label>Choose your password</label><br>
    <input name="password" type="password" required><br><br>
    <label>Confirm your password</label><br>
    <input name="password2" type="password" required autocomplete="off"><br><br>
    <input type="submit" value="Next" href="/register-user/academics">
</form>
{%endblock%}

<!--register student-->
<!--register staff-->
<!--register institution - with-->

